<html lang="en">
	<head>
		<link
			rel="shortcut icon"
			href="/assets/images/finalLogo.png"
			type="image/x-icon"
		/>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Transacions</title>
		<link rel="stylesheet" href="/assets/styles/style.css" />
		<link
			href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
			rel="stylesheet"
		/>

		<link
			rel="stylesheet"
			href="/assets/Font Awesome/Font Awesome Pro v5.12.0/css/all.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>

	<body>
		{{{body}}}

		<script>
			function myFunction() { var x = document.getElementById("myTopnav"); if
			(x.className === "topnav") { x.className += " responsive"; } else {
			x.className = "topnav"; } }
		</script>
	</body>
</html>