<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Registration</title>
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap'
      rel='stylesheet'
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel='stylesheet'
      href='/assets/Font Awesome/Font Awesome Pro v5.12.0/css/all.css'
    />
    <link rel='stylesheet' href='/assets/styles/style.css' />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>

    {{{body}}}

    {{! <script src='/Scripts/Register.js'></script> }}
    <script>
      function myFunctionpassword() { const a =
      document.getElementById("Password"); const b =
      document.getElementById("hide1"); const c =
      document.getElementById("hideme"); if (a.type === "password") {
      a.type="text"; b.style.visibility = none; c.style.visibility = visible; }
      else { a.type="password"; b.style.visibility = visible; c.style.visibility
      = none; } }
    </script>
    {{! <script>
      // let Spinner = document.querySelector('.mainLoad'); //
      window.addEventListener('load', function (){ //
      Spinner.parentElement.removeChild(Spinner); // }); var myloader; function
      myloader() { myloader = setTimeout(showPage, 3000); }
    </script> }}
  </body>
</html>