<div>
	<nav>
		<div class="logo">
			NorthEast
		</div>
		<ul>
			<li>
				<a href="http://localhost:8282/home"><p>Home</p>
					<i class="bx bx-home"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Services">
					<p>Service</p>
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Products"><p>Product</p>
					<i class="bx bx-store-alt"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/CART"><p>Cart</p>
					<i class="bx bx-cart"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Notification"><p>Notification</p>
					<i class="bx bx-bell"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Feedback"><p>Feedback</p>
					<i class="bx bxs-like"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Login"><p>Log Out</p>
					<i class="fad fa-sign-out-alt"></i></a>
			</li>

		</ul>
	</nav>
	<div class="titleProduct">
		<h1>Product</h1>
	</div>

	{{! <div class='searchProduct'>
    <input
      type='text'
      name=''
      class='searchText'
      placeholder='Search Product'
    />
    <input type='button' value='Search' class='searchBTN' />
  </div> }}

	<div class="wrapperGrid">

		{{#each resData.data}}
			<div class="containerServ">
				<h1 class="name" name>{{{Productname}}}</h1>
				<div class="imghero">
					<img
						src="{{{Image}}}"
						alt=""
						class="serviceImage"
						style="height: 250px; width:250px"
					/>
				</div>
				<p class="serviceTime">{{{Price}}}</p>

			</div>
		{{/each}}

	</div>
</div>