<div>
  <nav>
    <div class="logo">
      {{! <i class='fab fa-neos icon icons'></i> }}
      NorthEast
    </div>
    <label for="btn" class="icon">
      <span class="fa fa-bars"></span>
    </label>
    <input type="checkbox" id="btn" />
    <ul>
      <li>
        <a href="http://localhost:8282/home">Home
          <i class="bx bx-home"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Services">Service
          <i class="bx bx-wrench"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Products">Product
          <i class="bx bx-store-alt"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/CART">Cart
          <i class="bx bx-cart"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/Notification">Notification
          <i class="bx bx-bell"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Login">Log Out
          <i class="fad fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </nav>
  <div class="homemain">
    <div class="homehero2">
      <img src="/assets/images/undraw_city_driver_re_0x5e.svg" alt="" />
    </div>

    <div class="homehero1">
      <div class="welcome">
        <div class="welcome2">
          <h4>We Bring You The<br />Best Work Ever</h4>
          <h2>
            Welcome to NorthEast
            <br />
            Scheduling Website
          </h2>
          <p>
            Save time and add efficiency by allowing our<br />Customer to book
            their Cars Online
          </p>
          <button class="getstartedBTN">
            <a href="http://localhost:8282/Booking">Get Started
              <i class="fad fa-check"></i></a>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>