<div>
  <nav>
    <div class="logo">
      {{! <i class='fab fa-neos icon icons'></i> }}
      NorthEast
    </div>
    <label for="btn" class="icon">
      <span class="fa fa-bars"></span>
    </label>
    <input type="checkbox" id="btn" />
    <ul>
      <li>
        <a href="http://localhost:8282/home">Home
          <i class="bx bx-home"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Services">Service
          <i class="bx bx-wrench"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Products">Product
          <i class="bx bx-store-alt"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/CART">Cart
          <i class="bx bx-cart"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/Notification">Notification
          <i class="bx bx-bell"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Login">Log Out
          <i class="fad fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </nav>

  <div class="bookingMain">

    <div class="Bookcountainer">
      <div class="Bookhero1">
        <h1>Scheduling Form <i class="bx bx-book-bookmark"></i></h1>
      </div>

      <div class="Bookhero2">
        <h2 class="AlertsLOGIN">{{resData.message}}</h2>
        <div class="book1">
          <form action="/Booking" method="POST">
            <div class="bookingHERO1">

              <label for="CarandModel"><i class="fad fa-cars"></i>
                Car and Model:</label>
              <input
                type="text"
                name="CarandModel"
                id="CarandModel"
                placeholder="Honda Civic A/T CVT 2021"
                required
              />

              <label for="Fullname"><i class="fad fa-user"></i>
                Fullname:</label>
              <input type="text" name="FullName" id="Fullname" required />

              <label for="CarMileage"><i class="fad fa-map-marker-alt"></i>
                Car Mileage:</label>
              <input
                type="text"
                name="CarMileage"
                id="CarMileage"
                placeholder="20,000km"
                required
              />

              <label for="ContactNumber"><i class="fad fa-mobile-alt"></i>
                Contact Number:</label>
              <input
                type="number"
                name="ContactNumber"
                id="ContactNumber"
                placeholder="09*********"
                required
              />
            </div>

            <div class="bookingHERO2">
              <label for="Day"><i class="fas fa-calendar-week"></i>
                Date:</label>
              <input type="date" name="Day" id="Day" />

              <label for="Time"><i class="far fa-alarm-clock"></i> Time:</label>
              <select id="Time" name="Time" required>
                <option value="8:00:00" name="Time">8:00am</option>
                <option value="9:00:00" name="Time">9:00am</option>
                <option value="10:00:00" name="Time">10:00am</option>
                <option value="11:00:00" name="Time">11:00am</option>
                <option value="13:00:00" name="Time">1:00pm</option>
                <option value="14:00:00" name="Time">2:00pm</option>
                <option value="15:00:00" name="Time">3:00pm</option>
                <option value="16:00:00" name="Time">4:00pm</option>
              </select>

              <label for="">Other Service</label>
              <textarea
                class="textArea"
                name=""
                id=""
                cols="30"
                rows="10"
                height="100px"
              ></textarea>

              <label for="RequestType" id="RequestType1"></label>
              <select name="RequestType" id="RequestType2">
                <option value="Default">Default</option>
              </select>

              <input
                type="submit"
                value="Send Request"
                id="bookingBtn"
                class="bookingBtn"
              />

              {{!-- <h1>{{resData.message}}</h1> --}}
            </div>
          </form>
        </div>
      </div>
    </div>

    {{! <div class="Bookcountainer2"> }}
    <div class="container py-1">
      <h2
        class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold"
      >
        Schedule
      </h2>
      <p class="text-sm text-dark mt-0 mb-5">
        There's time and place for everything.
      </p>
      <!-- Days -->
      <div class="row">
        <div class="col-lg-4 mb-3" id="Friday, Nov 13th">
          <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
            Friday, Nov 13th
          </h4>
          <ul class="list-timeline list-timeline-primary">
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">09:00 - 10:00</span>
                - Registration
              </p>
            </li>
            <li
              class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-1-item-2"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span
                  class="text-primary font-weight-bold op-8 infinite animated flash"
                  data-animate="flash"
                  data-animate-infinite="1"
                  data-animate-duration="3.5"
                  style="animation-duration: 3.5s"
                >Now</span>
                - Vitaly Friedmann
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show"
                id="day-1-item-2"
              >
                Talk: Wireframing /
                <span class="text-primary">Room 19</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">12:00 - 13:00</span>
                - Lunch Break
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-1-item-4"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">13:00 - 15:00</span>
                - Anthony Jonas
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8"
                id="day-1-item-4"
              >
                Talk: OpenData /
                <span class="text-primary">Room 31</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">15:00 - 16:00</span>
                - Coffee Break
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-1-item-6"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">16:00 - 18:00</span>
                - Jesscia Lawrence
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8"
                id="day-1-item-6"
              >
                Talk: Ninja coding /
                <span class="text-primary">Room 31</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">18:00 - 23:00</span>
                - After conference
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 mb-3" id="Saturday, Nov 14th">
          <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
            Saturday, Nov 14th
          </h4>
          <ul class="list-timeline list-timeline-primary">
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">09:00 - 10:00</span>
                - Registration
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-2-item-2"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">10:00 - 12:00</span>
                - Vitaly Friedmann
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8"
                id="day-2-item-2"
              >
                Talk: Wireframing /
                <span class="text-primary">Room 19</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">12:00 - 13:00</span>
                - Lunch Break
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-2-item-4"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">13:00 - 15:00</span>
                - Bruce Lawson
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8"
                id="day-2-item-4"
              >
                Talk: Big Data /
                <span class="text-primary">Room 19</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">15:00 - 16:00</span>
                - Coffee Break
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-2-item-6"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">16:00 - 18:00</span>
                - Anthony Jonas
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8"
                id="day-2-item-6"
              >
                Talk: OpenData /
                <span class="text-primary">Room 31</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">18:00 - 23:00</span>
                - After conference
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 mb-3" id="Sunday, Nov 15th">
          <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
            Sunday, Nov 15th
          </h4>
          <ul class="list-timeline list-timeline-primary">
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">09:00 - 10:00</span>
                - Registration
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-3-item-2"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">10:00 - 12:00</span>
                - Jesscia Lawrence
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8"
                id="day-3-item-2"
              >
                Talk: Ninja coding /
                <span class="text-primary">Room 31</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">12:00 - 13:00</span>
                - Lunch Break
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-3-item-4"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">13:00 - 15:00</span>
                - Anthony Jonas
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8"
                id="day-3-item-4"
              >
                Talk: OpenData /
                <span class="text-primary">Room 31</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">15:00 - 16:00</span>
                - Coffee Break
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"
              data-toggle="collapse"
              data-target="#day-3-item-6"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">16:00 - 18:00</span>
                - Anthony Jonas
              </p>
              <p
                class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8"
                id="day-3-item-6"
              >
                Talk: OpenData /
                <span class="text-primary">Room 31</span>
              </p>
            </li>
            <li
              class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column"
            >
              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                <span class="text-inverse op-8">18:00 - 23:00</span>
                - After conference
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{! </div> }}
  </div>
</div>