<div>
	<nav>
		<div class="logo">
			NorthEast
		</div>
		<ul>
			<li>
				<a href="http://localhost:8282/home"><p>Home</p>
					<i class="bx bx-home"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Services">
					<p>Service</p>
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Products"><p>Product</p>
					<i class="bx bx-store-alt"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/CART"><p>Cart</p>
					<i class="bx bx-cart"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Notification"><p>Notification</p>
					<i class="bx bx-bell"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Feedback"><p>Feedback</p>
					<i class="bx bxs-like"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Login"><p>Log Out</p>
					<i class="fad fa-sign-out-alt"></i></a>
			</li>

		</ul>
	</nav>
	<div class="titleService">
		<h1>Services</h1>
	</div>

	<div class="wrapperGrid">

		{{#each resData.data}}
			<div class="containerServ">
				<h1 class="name">{{{Servicename}}}</h1>
				<div class="imghero">
					<img
						src="{{{Image}}}"
						alt=""
						class="serviceImage"
						style="height: 200px; width:200px"
					/>
				</div>
				<p class="serviceTime">{{{Time}}}</p>
				<form class="addCartFrom" onsubmit="return AddCartBtn(event)">
					<input class="addCartBtn" type="submit" value="Add Cart" />
					<input type="hidden" value="{{{_id}}}" name="ServiceID" />
				</form>
			</div>
		{{/each}}
	</div>
</div>