<div>
	<nav>
		<div class="logo">
			NorthEast
		</div>
		<ul>
			<li>
				<a href="http://localhost:8282/home"><p>Home</p>
					<i class="bx bx-home"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Services">
					<p>Service</p>
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Products"><p>Product</p>
					<i class="bx bx-store-alt"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/CART"><p>Cart</p>
					<i class="bx bx-cart"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Notification"><p>Notification</p>
					<i class="bx bx-bell"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Feedback"><p>Feedback</p>
					<i class="bx bxs-like"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Login"><p>Log Out</p>
					<i class="fad fa-sign-out-alt"></i></a>
			</li>

		</ul>
	</nav>

	<div class="commentContainer">
		<div class="commentFormdiv">
			<img src="" alt="" />
			<h1>Thank you for trusting and using our Website.</h1>
			<h1>Please leave a comment for us to be posted at feedback.</h1>
			<div class="alert alert-danger">{{resData.message}}</div>
			<form action="/Feedback" class="commentForm" method="POST">
				<input
					type="text"
					name="Message"
					id="commentText"
					placeholder="Add comment..."
				/>
				<input type="submit" id="submitComment" value="Post" />
			</form>
		</div>
		<div class="allcomments">
			<h2>Feedback:</h2>
			{{#each resData.data}}
				<div class="comment">
					<h1 class="Customer ID">{{{Commentatorid}}}</h1>
					<p>{{{Message}}}</p>
					<h3 class="date">{{{Date}}}</h3>
				</div>
			{{/each}}
		</div>
	</div>
</div>