<div>
  <nav>
    <div class="logo">
      NorthEast
    </div>
    <ul>
      <li>
        <a href="http://localhost:8282/home"><p>Home</p>
          <i class="bx bx-home"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/Services">
          <p>Service</p>
          <i class="bx bx-wrench"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Products"><p>Product</p>
          <i class="bx bx-store-alt"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/CART"><p>Cart</p>
          <i class="bx bx-cart"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/Notification"><p>Notification</p>
          <i class="bx bx-bell"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Feedback"><p>Feedback</p>
          <i class="bx bxs-like"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Login"><p>Log Out</p>
          <i class="fad fa-sign-out-alt"></i></a>
      </li>

    </ul>
  </nav>

  <div class="notificationMain">
    <div class="notificationBox">
      <div class="notif1">
        <h2>Notification <i class="bx bx-bell"></i></h2>
      </div>

      <div class="notif2">
        {{#each resData.data}}
          <div class="notifdiv">
            <p>{{{Message}}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>