<div>
  <nav>
    <div class="logo">
      {{! <i class='fab fa-neos icon icons'></i> }}
      NorthEast
    </div>
    <label for="btn" class="icon">
      <span class="fa fa-bars"></span>
    </label>
    <input type="checkbox" id="btn" />
    <ul>
      <li>
        <a href="http://localhost:8282/home">Home
          <i class="bx bx-home"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Services">Service
          <i class="bx bx-wrench"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Products">Product
          <i class="bx bx-cart"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Booking">Booking
          <i class="bx bx-book-bookmark"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Notification">Notification
          <i class="bx bx-bell"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Login">Log Out
          <i class="fad fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </nav>

  <div class="notificationMain">
    <div class="notificationBox">
      <div class="notif1">
        <h2>Notification <i class="bx bx-bell"></i></h2>
      </div>

      <div class="notif2">
        <div class="notifdiv">
          <p>Your Request has been Decline, Please Change the date</p>
        </div>
        <div class="notifdiv">
          <p>You're Scheduled May 03, 2021 Monday 1:00pm in the afternoon</p>
        </div>
        <div class="notifdiv">
          <p>
            You're Scheduled March 08, 2021 Friday 9:00am in the afternoon
          </p>
        </div>
      </div>
    </div>
  </div>
</div>