<div>
  <nav>
    <div class="logo">
      {{! <i class='fab fa-neos icon icons'></i> }}
      NorthEast
    </div>
    <label for="btn" class="icon">
      <span class="fa fa-bars"></span>
    </label>
    <input type="checkbox" id="btn" />
    <ul>
      <li>
        <a href="http://localhost:8282/home">Home
          <i class="bx bx-home"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Services">Service
          <i class="bx bx-wrench"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Products">Product
          <i class="bx bx-store-alt"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/CART">Cart
          <i class="bx bx-cart"></i>
        </a>
      </li>
      <li>
        <a href="http://localhost:8282/Notification">Notification
          <i class="bx bx-bell"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Login">Log Out
          <i class="fad fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </nav>

  <div class="titleService">
    <h1>Services</h1>
  </div>

  <div class="wrapperGrid">

    {{#each resData.data}}
      <div class="containerServ">
        <h1 class="name">{{{Servicename}}}</h1>
        <div class="imghero">
          <img
            src="{{{Image}}}"
            alt=""
            class="serviceImage"
            style="height: 250px; width:250px"
          />
        </div>
        <p class="serviceTime">{{{Time}}}</p>
        <form action="/Services" method="POST">
          <input
            class="addCartBtn"
            type="submit"
            value="Add Cart"
            onsubmit="return addCartBtn(event)"
          />
          <input type="hidden" value="{{{_id}}}" name="id" />
        </form>
      </div>
    {{/each}}

  </div>
</div>