<div>
	<nav>
		<input id="nav-toggle" type="checkbox" />
		<div class="logo"><img src="/assets/images/finalLogo.png" alt="" /></div>
		<ul class="links">
			<li>
				<a href="http://localhost:8282/home">Home
					<i class="bx bx-home"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Services">Service
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Products">Product
					<i class="bx bx-store-alt"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/CART">Cart
					<i class="bx bx-cart"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/transactions">Transacions
					<i class="bx bx-book-bookmark"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Notification">Notification
					<i class="bx bx-notification"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Feedback">Feedback
					<i class="bx bx-like"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Login">Log Out
					<i class="bx bx-log-in-circle"></i></a>
			</li>
		</ul>
		<label for="nav-toggle" class="icon-burger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</label>
	</nav>
	<div class="homemain">

		<div class="homehero2">
			<img src="/assets/images/bghome.gif" alt="" />
		</div>

		<div class="homehero1">

			<div class="welcome">
				<div class="welcome2">
					<h4>We Bring You The Best Work Ever</h4>
					<h2>
						Welcome to NorthEast Scheduling Website
					</h2>
					<p>
						Save time and add efficiency by allowing ourCustomer to book their
						Cars Online
					</p>
					<button class="getstartedBTN">
						<a href="http://localhost:8282/Services">Get Started
							<i class="fad fa-check"></i></a>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>