<div>
	<nav>
		<div class="logo">
			NorthEast
		</div>
		<ul>
			<li>
				<a href="http://localhost:8282/home">Home
					<i class="bx bx-home"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Services">Service
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Products">Product
					<i class="bx bx-store-alt"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/CART">Cart
					<i class="bx bx-cart"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Notification">Notification
					<i class="bx bx-bell"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Feedback">Feedback
					<i class="bx bxs-like"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Login">Log Out
					<i class="fad fa-sign-out-alt"></i></a>
			</li>

		</ul>
	</nav>

	<div class="notificationMain">
		<div class="notificationBox">
			<div class="notif1">
				<h2>Notification <i class="bx bx-bell"></i></h2>
			</div>

			<div class="notif2">
				<div class="notifdiv">
					<p>Your Request has been Decline, Please Change the date</p>
				</div>
				<div class="notifdiv">
					<p>You're Scheduled May 03, 2021 Monday 1:00pm in the afternoon</p>
				</div>
				<div class="notifdiv">
					<p>
						You're Scheduled March 08, 2021 Friday 9:00am in the afternoon
					</p>
				</div>
			</div>
		</div>
	</div>
</div>