<div>
	<nav>
		<div class="logo">
			NorthEast
		</div>
		<ul>
			<li>
				<a href="http://localhost:8282/home"><p>Home</p>
					<i class="bx bx-home"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Services">
					<p>Service</p>
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Products"><p>Product</p>
					<i class="bx bx-store-alt"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/CART"><p>Cart</p>
					<i class="bx bx-cart"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Notification"><p>Notification</p>
					<i class="bx bx-bell"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Feedback"><p>Feedback</p>
					<i class="bx bxs-like"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Login"><p>Log Out</p>
					<i class="fad fa-sign-out-alt"></i></a>
			</li>

		</ul>
	</nav>

	<div class="homemain">
		<div class="homehero2">
			<img src="/assets/images/bghome.gif" alt="" />
		</div>

		<div class="homehero1">
			<div class="welcome">
				<div class="welcome2">
					<h4>We Bring You The Best Work Ever</h4>
					<h2>
						Welcome to NorthEast Scheduling Website
					</h2>
					<p>
						Save time and add efficiency by allowing ourCustomer to book their
						Cars Online
					</p>
					<button class="getstartedBTN">
						<a href="http://localhost:8282/Booking">Get Started
							<i class="fad fa-check"></i></a>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>