<div>
  <nav>
    <input id="nav-toggle" type="checkbox" />
    <div class="logo"><strong>N</strong>orthEast</div>
    <ul class="links">
      <li>
        <a href="http://localhost:8282/home">Home
          <i class="bx bx-home"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Services">Service
          <i class="bx bx-wrench"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Products">Product
          <i class="bx bx-store-alt"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/CART">Cart
          <i class="bx bx-cart"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/transactions">Transacions
          <i class="bx bx-book-bookmark"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Notification">Notification
          <i class="bx bx-notification"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Feedback">Feedback
          <i class="bx bx-like"></i></a>
      </li>
      <li>
        <a href="http://localhost:8282/Login">Log Out
          <i class="bx bx-log-in-circle"></i></a>
      </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
  </nav>

  <div class="bookingMain">

    <div class="Bookcountainer2">
      <div class="timeViewContainer">
        <div class="listContainer">
          <div class="slideshow-container">
            {{! <div class="listTitle">
							<h2>List of Schedule Date</h2>
						</div> }}

            <div class="boxTimeList">
              <h2>List of Schedule Date</h2>
              <div id="bookingDates" data-locations="{{{dates}}}"></div>
              {{#each dates}}
                <div class="mySlides">

                  <div class="dayButton">{{{this}}}</div>

                  <div class="timeListData">

                  </div>
                </div>
              {{/each}}
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          </div>

          {{! <div class="dot-container">
						<span class="dot" onclick="currentSlide(1)"></span>
						<span class="dot" onclick="currentSlide(2)"></span>
						<span class="dot" onclick="currentSlide(3)"></span>
					</div> }}
        </div>

        <div class="dayword">
        </div>
      </div>
    </div>

    <div class="Bookcountainer">
      <div class="Bookhero1">
        <h1>Appointment Form <i class="bx bx-book-bookmark"></i></h1>
      </div>

      <div class="Bookhero2">

        <div class="book1">
          <h2 class="AlertsLOGIN"><i
              class="bx bxs-bell-ring"
            ></i>{{resData.message}}</h2>
          <form action="/Booking" method="POST">
            <div class="bookingHERO1">

              <label for="CarandModel"><i class="fad fa-cars"></i>
                Car and Model:</label>
              <input
                type="text"
                name="CarandModel"
                id="CarandModel"
                placeholder="Honda Civic A/T CVT 2021"
                required
              />

              <label for="CarMileage"><i class="fad fa-map-marker-alt"></i>
                Car Mileage:</label>
              <input
                type="text"
                name="CarMileage"
                id="CarMileage"
                placeholder="20,000km"
                required
              />

              <label for="Fullname"><i class="fad fa-user"></i>
                Full Name:</label>
              <input type="text" name="FullName" id="Fullname" required />

              <label for="ContactNumber"><i class="fad fa-mobile-alt"></i>
                Contact Number:</label>
              <input
                type="number"
                name="ContactNumber"
                id="ContactNumber"
                placeholder="09*********"
                required
              />
            </div>

            <div class="bookingHERO2">
              <label for="Day"><i class="fas fa-calendar-week"></i>
                Date:</label>
              <input type="date" name="Day" id="Day" />

              <label for="Time"><i class="far fa-alarm-clock"></i> Time:</label>
              <select id="Time" name="Time" required>
                <option value="8:00:00" name="Time">8:00am</option>
                <option value="9:00:00" name="Time">9:00am</option>
                <option value="10:00:00" name="Time">10:00am</option>
                <option value="11:00:00" name="Time">11:00am</option>
                <option value="13:00:00" name="Time">1:00pm</option>
                <option value="14:00:00" name="Time">2:00pm</option>
                <option value="15:00:00" name="Time">3:00pm</option>
                <option value="16:00:00" name="Time">4:00pm</option>
              </select>

              <label for="otherService">Other Service</label>
              <select id="otherService" name="otherService">
                <option value="" name="otherService">N/A</option>
                <option value="Car Wash" name="otherService">Car Wash</option>
                <option value="Tint Install" name="otherService">Tint Install</option>
                <option value="Car Repaint" name="otherService">Car Repaint</option>
                <option value="Car Detailing" name="otherService">Car Detailing</option>
                <option value="Break Cleaning" name="otherService">Break
                  Cleaning</option>
              </select>

              <label for="RequestType" id="RequestType1"></label>
              <select name="RequestType" id="RequestType2">
                <option value="Pending">Pending</option>
              </select>

              <input
                type="submit"
                value="Send Request"
                id="bookingBtn"
                class="bookingBtn"
              />

              {{!-- <h1>{{resData.message}}</h1> --}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>