<div>
	<section id="mainpage1" class="mainpage">
		<div class="loginHero1">
			<img src="/assets/images/full.gif" alt="" height="500px" />
			<h3>Hi! Let's get started by making a reservation for your car.
			</h3>
			<h3>wwhatever kind of service you'd like us to provide.</h3>
		</div>

		<div class="loginHero2">
			<div class="loginLogo">
				<img src="/assets/images/N.jpg" alt="" />
			</div>
			<h2 class="AlertsLOGIN"><i
					class="bx bxs-bell-ring"
				></i>{{resData.message}}</h2>
			<div class="loginBox">

				<div class="headerhero1">
					<h2>Welcome to Login<i class="fad fa-users"></i></h2>
				</div>

				<div class="loginform">

					<form action="/Login" id="loginform" method="POST">
						<label for=""><i class="fad fa-user"></i> Username:</label>
						<div class="input-box">
							<input type="email" name="emailLogIn" id="emailLogIn" required />
						</div>

						<label for=""><i class="fad fa-lock-alt"></i> Password:</label>

						<div class="input-box">
							<input
								type="password"
								name="passwordLogIn"
								id="passwordLogIn"
								required
							/>

						</div>

						<input
							type="submit"
							class="loginButton"
							value="LogIn"
							type="submit"
							name="submit"
							id="submitLogIn"
						/>
						<h3>
							Dont have account yet?
							<a href="http://localhost:8282/Register">Click here to Register</a>
						</h3>
					</form>
				</div>
			</div>
		</div>
	</section>

	{{! <section id="mainpage2" class="mainpage2">
      <div class="Spanning1">
        <div class="mainpage2hero1">
          <img src="/assets/images/mapssss.PNG" alt="" />

          <div class="info">
            <a
              href="https://www.google.com/maps/dir//Northeast+Car+Care+Centre,+Bantay,+Ilocos+Sur/@17.5893263,120.3823032,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x338e65cb96db37af:0x9b622a424acd285!2m2!1d120.4173227!2d17.5892476?hl=en"
            ><i class="fad fa-directions"></i> Get Direction here.</a>

            <p>
              <i class="fas fa-map-marked-alt"></i>
              National Highway, Cabalanggan, 2727 Bantay, Ilocos Sur.
            </p>

            <p>
              <i class="fad fa-info-square"></i>
              A DTI accredited 5 Star Auto workshop. The alternative Aftermarket
              Full-Service Maintenance and Repair Provider in Ilocos Region.
            </p>

            <p><i class="fad fa-wifi-2"></i> Offers free Wi-Fi</p>

            <p><i class="fad fa-phone"></i> 0917 578 0410</p>

            <p>
              <i class="fad fa-envelope"></i>
              <a href="mailto:northeast_car@yahoo.com">northeast_car@yahoo.com</a>
            </p>

            <p>
              <i class="fab fa-buffer"></i>
              Automotive Repair Shop · Local Service
            </p>

            <p>
              <i class="fad fa-clock"></i>
              Open Monday to Sunday 8:00am-5:00pm
            </p>

            <p>
              <i class="fal fa-wrench"></i>
              Promo and Bundle (PMS) Preventive Maintenance Schedule
            </p>

            <p></p>
          </div>
        </div>

        <div class="mainpage2hero2">
          <video controls>
            <source
              src="/assets/video/10000000_959280101558143_2787363863671890412_n.mp4"
              type="video/mp4"
            />
            <source
              src="/assets/video/10000000_959280101558143_2787363863671890412_n.mp4"
              type="video/ogg"
            />
            Your browser does not support HTML video.
          </video>

          <h4><i class="fad fa-info-square"></i> About Us</h4>

          <p>
            The main goal of Northeast Car Care Center is to provide the best and
            always aiming for the best. That’s why the Northeast Car Care Center
            was DTI 5-star auto workshop and a Gold Bagwis Awardee because
            everything we do is Standard for you to have what we call quality and
            consistency so because this standards we are the very first Gold
            Bagwis Awardee for auto workshop here in Region 1.
          </p>
        </div>
      </div>

      <div class="copyright">
        <p>Copyright
          <i class="bx bx-copyright"></i>
          2022 Kabagis Group. Design by Daezon and Marco.
        </p>
      </div>
    </section> }}

</div>