<html lang="en">
	<head>
		<link
			rel="shortcut icon"
			href="/assets/images/finalLogo.png"
			type="image/x-icon"
		/>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="/assets/Font Awesome/Font Awesome Pro v5.12.0/css/all.css"
		/>
		<link rel="stylesheet" href="/assets/styles/admin.css" />
		<link
			rel="stylesheet"
			href="/assets/styles/tabledesign/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="/assets/styles/tabledesign/dataTables.bootstrap4.min.css"
		/>
		<title>Schedules</title>
	</head>

	<body>
		{{{body}}}
		<script
			src="/assets/Scripts/tabledesign/dataTables.Bootstrap4.min.js"
		></script>
		<script src="/assets/Scripts/tabledesign/jquery-3.5.1.js"></script>
		<script src="/assets/Scripts/tabledesign/jquery.dataTables.min.js"></script>
		<script src="/assets/Scripts/tabledesign/script.js"></script>
		<script src="/assets/Scripts/deleteupdate.js"></script>
	</body>
</html>