<div>
  <div class='mainaddimage'>
    <div class='prev'>
      <a class='back' href='http://localhost:8282/Admin/services'><i
          class='bx bx-chevrons-left'
        ></i>Return</a>
    </div>
    <div class='addimageContainer'>
      <h1 class='titlena'>Add Servise</h1>
      <form
        class='addImageform'
        name='addservice'
        id='addservice'
        action='/Admin/AddService'
        method='POST'
        enctype='multipart/form-data'
      >
        <label for=''>Select Image File</label>
        <input
          class='chooseFile'
          type='file'
          id='ImageFile'
          name='image_service'
        />

        <input
          class='servicetext'
          type='text'
          id='Servicename'
          name='Servicename'
          placeholder='Service Name'
        />

        <input
          class='servicetext'
          type='text'
          id='Time'
          name='Time'
          placeholder='Time'
        />

        <input
          type='submit'
          value='Confirm'
          id='submitService'
          name='SubmitService'
        />
      </form>
    </div>
  </div>
</div>