<div>
	<div class="mainupdateimage">
		<div class="prev">
			<a class="back" href="/Admin/products"><i
					class="bx bx-chevrons-left"
				></i>Return</a>
		</div>
		<div class="updateimageContainer">
			<h1 class="titlena">Update Product</h1>
			<form
				class="updateImageform"
				name="updateproduct"
				id="updateproduct"
				{{! action='/Admin/UpdateProduct' }}
				method="PUT"
				enctype="multipart/form-data"
			>
				<label for="">Select Image File</label>
				<input
					class="chooseFile"
					type="file"
					id="ImageFile"
					name="image_product"
				/>
				<input
					class="ProductUpdatetext"
					type="text"
					id="ProductUpdatename"
					name="Productname"
					placeholder="Product Name"
				/>
				<input
					class="ProductUpdatetext"
					type="text"
					id="Price"
					name="Price"
					placeholder="Price"
				/>

				<input
					type="submit"
					value="Confirm"
					id="submitUpdateProduct"
					name="SubmitUpdateProduct"
				/>
			</form>
		</div>
	</div>
</div>